<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:name=".core.app.ApplicationClass"
        android:theme="@style/Theme.WeTunes">
        <activity
            android:name=".ui.library.PlaylistDetailActivity"
            android:exported="false"
            android:parentActivityName=".core.app.MainActivity" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.album.CategoryDetailActivity"
            android:parentActivityName=".core.app.MainActivity"
            android:noHistory="false" />
        <activity android:name=".ui.player.PlayerActivity"
            android:parentActivityName=".core.app.MainActivity"
            android:noHistory="false"/>
        <activity android:name=".core.app.MainActivity"
            android:noHistory="false"
            android:exported="false" />

        <service
            android:name=".playback.MusicService"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback"/>
        <receiver
            android:name=".playback.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="actionprevious"/>
                <action android:name="actionnext"/>
                <action android:name="actionplay"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>